.child-login-entry-frame {
  display: flex;
  flex-direction: column;
}
.login-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Background for Login */

.background {
  background-color:#bbdefb ;
}
/* ChildDashboard */
.cd-body {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0px auto;
}
.high-frame {
  background-color: rgb(228, 241, 104);
  margin: 0px auto;
  width: 95%;
}
.low-frame {
  display: flex;
  margin: 0px auto;
  width: 95%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  background-color: rgb(175, 212, 230);
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto'; font-size: flex
  }

/* 
  body {
    z-index: 5;
    background: gray url("https://wallpaperfm.com/img/original/d/9/d/42224.jpg") repeat 0 0;
    width: 100%;
    height: 1080px;
    margin: 0;
    text-align: center;
    -webkit-animation: slide 10s linear infinite;
  }
  
  body h1 {
    font-family: sans-serif;
  }
  
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }   
   */