* {
  border: .2px;
  padding: 10px;
}
.child-login-entry-frame {
  display: flex;
  flex-direction: column;
}
.login-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* ChildDashboard */
.cd-body {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0px auto;
}
.high-frame {
  background-color: rebeccapurple;
  margin: 0px auto;
  width: 95%;
}
.low-frame {
  display: flex;
  margin: 0px auto;
  width: 95%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  background-color: lightpink;
}

p, h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto'; font-size: flex
}